div.sub-page {
    position: relative;
    border: 1px solid red;
    height: 100vh;
    top: 0px;
}

div#top {
    position: relative;
    top: 0px;
    left: 8px;
    border: 1px solid green;
}

a {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: skyblue;
    text-decoration: underline;
}

a:hover {
    color: red;
    text-decoration: underline;
}

a:active {
    color: orange;
    /* text-decoration: overline; */
    border: 1px dotted red;
}

nav ul {
    border: 0px dashed red;
    padding: 0;
    width: 1000px;
    /* height: 50px; */
    margin: 0;
    overflow: hidden;
}

nav ul li {
    /* border: 1px solid red; */
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    list-style: none;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    float: left;
    box-sizing: border-box;
}

nav ul li:hover {
    border-bottom: 3px solid red;
    background-color: orange;
    color: yellow;
    font-weight: bold;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.7);
}

a {
    color: black;
    text-decoration: none;
}

.main-page {
    background-color: orange;
    height: 200px;
    width: 1000px;
}