<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home</h1>
    <!-- <form action="/hello" method="get">
        <input type="text", name="user", placeholder="이름">
        <input type="text", name="msg", placeholder="메시지">
        <input type="text", name="age", placeholder="나이">
        <button type="submit">전송</button>
    </form> -->

    <p>
        user: <%=user%><br>
        msg: <%=msg%><br>
        age: <%=age%><br>
    </p>
</body>
</html>